{{#section 'css'}}
    <link rel="stylesheet" href="/public/css/patient-side/makePayment.css">
{{/section}}

<div class="payment-modal-body">
    <div class="modal-header">
        <h2>MAKE</h2>
        <h1>Payment</h1>
    </div>
    <div class="modal-body-form-container">
        <div class="modal-body-form">
            <h5>Patient Information</h5>
            <div class="modal-body">
                <div class="input-group">
                    <input type="text" id="name" placeholder="Name">
                </div>
                <div class="input-group">
                    <input type="tel" id="phone" placeholder="Phone Number">
                </div>
                <div class="input-group">
                    <div class="birthday-input">
                        <input type="text" id="birthday" placeholder="Birthday">
                        <img src="/public/images/icon/icons8-calendar-32.png" alt="" width="20px">
                    </div>
                </div>                           
                <div class="input-group">
                    <input type="text" id="address" placeholder="Address">
                </div>
            </div>
            <hr class="custom-separate-line">
            <h5>Appointment Information</h5>
            <div class="modal-body-appointment mt-3">
                <div>
                    <img src="/public/images/icon/icon-department.png" alt="">
                    <span id="department-name">Department name</span>
                </div>
                <div>
                    <img src="/public/images/icon/icons8-service-32 (1).png" alt="">
                    <span id="service-name">Service name</span>
                </div>                                
                <div>
                    <img src="/public/images/icon/icons8-time-32.png" alt="">
                    <span id="appointment-date">Appointment Date</span>
                </div>                                
                <div>
                    <img src="/public/images/icon/icons8-payment-32 (1) copy.png" alt="">
                    <span id="total-cost" style="color: #16A90F;">Total cost</span>
                </div>                                
            </div>
        </div>
    </div>
</div>
<div class="payment-modal-footer">
    <div class="payment-fee">
        <p>Examination fee</p>
        <p>Extra Service</p>
        <p class="temporary-fee">Temporary payment</p>
    </div>
    <div class="payment-value">
        <p>1000000</p>
        <p>1000000</p>
        <p class="total-value">2000000</p>
    </div>
    <div class="button-group">
        <button class="back-button">Back</button>
        <button class="pay-button">
            <img src="/public/images/icon/vnpay.webp" alt="">
            <span>Pay</span>
        </button>
    </div>
</div>
