{{#section 'css'}}
{{/section}}
<div class="modal-header">
    <h2>VIEW</h2>
    <h1>Appointment</h1>
</div>
<div class="modal-body-form-container">
    <div class="modal-body-form">
        <h5>Patient Information</h5>
        <div class="modal-body">
            <div class="input-group">
                <input type="text" id="name" placeholder="Name">
            </div>
            <div class="input-group">
                <input type="tel" id="phone" placeholder="Phone Number">
            </div>
            <div class="input-group">
                <div class="birthday-input">
                    <input type="text" id="birthday" placeholder="Birthday">
                    <img src="/public/images/icon/icons8-calendar-32.png" alt="" width="20px">
                </div>
            </div>                           
            <div class="input-group">
                <input type="text" id="address" placeholder="Address">
            </div>
        </div>
        <hr class="custom-separate-line">
        <h5 class="mt-2">Appointment Information</h5>
        <div class="modal-body-appointment-container">
            <div class="modal-body-appointment">
                <div class="info-row">
                    <div class="info-label">Specialty</div>
                    <div class="info-value">Psychology</div>
                </div>
                <div class="info-row">
                    <div class="info-label">Service</div>
                    <div class="info-value">None</div>
                </div>
                <div class="info-row">
                    <div class="info-label">Doctor</div>
                    <div class="info-value">AkiraYuri</div>
                </div>
                <div class="info-row">
                    <div class="info-label">Room's No</div>
                    <div class="info-value">A8-04</div>
                </div>
                <div class="info-row">
                    <div class="info-label">Order's No</div>
                    <div class="info-value order-no">24</div>
                </div>
            </div>
            <div class="modal-body-time">
                <h5>Appointment Time</h5>
                <div>
                    <img src="/public/images/icon/icons8-clock-32 (1).png" alt="">
                    <span id="appointment-time" style="color: #FF4A4D;">10/11/2003 10:00 AM</span>
                </div>
                <p style="color: #E8B716; font-size: 14px;">This is only an estimated time. We sincerely apologize for any inconvenience caused by unexpected delays </p>
                {{!-- We sincerely apologize for any inconvenience caused by unexpected delays. --}}
            </div>
        </div>
        <div class="payment-info-container">
            <div class="payment-img">
                <img src="/public/images/icon/icons8-payment-32 (1) copy.png" alt="" width="60px">
            </div>
            <div class="payment-fee">
                <p>Examination fee</p>
                <p>Extra Service</p>
            </div>
            <div class="payment-value">
                <p>1000000</p>
                <p>1000000</p>
            </div>
            <div class="total-payment">
                <p style="font-weight:700; font-size:large; ">Total</p>
                <p class="total-value">1000000</p>

            </div>
        </div>
        <div>
            <button class="back-to-main-button">Back to Mainpage</button>
        </div>
    </div>
</div>
