<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="/public/css/patient-side/viewAppointment.css">
    {{{_sections.css}}}
</head>
<body>
    {{!--view status  --}}
    <div class="view-appointment-container">
        <div class="view-appointment--modal-header">
            <div class="button-step-group">
                <button class="information-step-button">
                    <img src="/public/images/icon/icons8-stethoscope-32 (2).png" alt="">
                </button>
                <div class="separate-step-line"></div>
                <button class="email-verify-step-button">
                    <img src="/public/images/icon/icons8-send-email-32.png" alt="">
                </button>
                <div class="separate-step-line"></div>
                <button class="payment-step-button">
                    <img src="/public/images/icon/icons8-payment-32 (1).png" alt="">
                </button>
                <div class="separate-step-line"></div>
                <button class="status-step-button">
                    <img src="/public/images/icon/icons8-status-32.png" alt="">
                </button>
            </div>
        </div>
        <div class="container">
            {{{body}}}
        </div>
    </div>
</body>
</html>