<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    {{!-- swiperjs --}}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <link rel="stylesheet" href="/public/css/patient-side/patient.css">
    {{{_sections.css}}}
</head>
<body>
    <header>
       <div class="container_upHeader" style="background-color: black">H</div>
       <div class="container_downHeader mt-3 container">
            <a class="logo d-flex" href="/">     
                    <img src="/public/images/EternalCare.png" alt="Logo">
                    {{!-- <div class="logo-text">EternalCare</div> --}}
            </a>
            <div class="search-bar">
                <input type="text" placeholder="Search...">
                <button type="submit" class="search-button">
                    <img class="icon_search_header" src="/public/images/icon/icon_search.png" alt="">
                </button>
            </div>
            <div class="actions">
                <a href="/patient/profile"></a>
                <button class="sign-in">
                    <a href="/account/login" class="btn-a">  Sign in</a>
                </button>
                <button class="sign-up">
                    <a href="/account/signup" class="btn-a" style="color:#0d47a1">Sign up</a>
                </button>
                <button class="book-appointment">
                    <a href="/patient/book-appointment" class="btn-a">Book Appointment</a>
                </button>
            </div>
        </div>
        <nav style="background-color: white;" class="mt-2 container     ">
            <div class="nav_container" >
                <ul>
                    <li>
                        <a href="/patient/specialties">SPECIALTY </a>
                    </li>
                    <li>
                        <a href="/patient/doctors">DOCTOR </a>
                    </li>
                    <li>
                        <a href="/patient/services">SERVICE </a>
                    </li>
                    <li>
                        <a href="#">CONTACT </a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    
    <main class="container">
        {{{body}}}
    </main>
     <footer>
        <div class="footer-top">
            <div class="footer-logo">
                <a class="logo d-flex" href="/">     
                    <img src="/public/images/Logo (2).png" alt="Logo">
                </a>
            </div>
            <div class="footer-policy">
                <h5>Policy</h5>
                <ul>
                    <li><a href="#"><img src="/public/images/icon/icon_policy.png" alt="File Icon"> Humanity</a></li>
                    <li><a href="#"><img src="/public/images/icon/icon_policy.png" alt="File Icon"> Humanity</a></li>
                    <li><a href="#"><img src="/public/images/icon/icon_policy.png" alt="File Icon"> Tax</a></li>
                </ul>
            </div>
            <div class="footer-contact">
                <h5>Contact</h5>
                <p><img src="/public/images/icon/icon_address.png" alt="Location Icon"> 5/3 113 Phuoc Long</p>
                <p><img src="/public/images/icon/icon_phone.png" alt="Phone Icon"> 0392164763</p>
                <p><img src="/public/images/icon/icon_email.png" alt="Email Icon"> eternalHospital@gmail.com</p>
            </div>
            <div class="footer-working-hours">
                <h5>Working hours</h5>
                <div class="hours-box">
                    <p>From Mon - Sat</p>
                    <p>7:00 AM - 17:00 PM</p>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container d-flex justify-content-between">
                <p>EternalHospital_CaringHand_HealingHeart.</p>
                <div class="bottom-links">
                    <a href="#">Privacy Policy</a>
                    <span>|</span>
                    <a href="#">Disclaimer</a>
                    <span>|</span>
                    <a href="#">Contact Us</a>
                </div>
            </div>
        </div>
    </footer> 
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
    {{{_sections.js}}}
</body>
</html>