{{#section 'css'}}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    {{!-- swiperjs --}}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <link rel="stylesheet" href="/public/css/homepage.css">
{{/section}}

{{#section 'js'}}
{{/section}}
<div class="homepage_container">
    <div class="background_image">
        <button class="button_book_appointment">
            <a href="/patient/book-appointment" class="btn-a">Book Appointment</a>
        </button>
    </div>
    <div class="specialty-service-container">
        <div class="service-section">
            <h4 class="section-title">SERVICE</h4>
            <div class="service-grid">
                <div class="service-item">
                    <img src="/public/images/background/general.jpg" alt="General Health Check-up Package">
                    <h4 class="service-name" style="color: #B91A3C;">GENERAL HEALTH CHECK-UP PACKAGE</h4>
                </div>
                <div class="service-item">
                    <img src="/public/images/background/bloood.jpg" alt="General Health Check-up Package">
                    <h4 class="service-name" style="color: #1063BF;">GENERAL HEALTH CHECK-UP PACKAGE</h4>
                </div>
                <div class="service-item">
                    <img src="/public/images/background/bloood.jpg" alt="General Health Check-up Package">
                    <h4 class="service-name" style="color: #1063BF;">GENERAL HEALTH CHECK-UP PACKAGE</h4>
                </div>
                <div class="service-item">
                    <img src="/public/images/background/bloood.jpg" alt="General Health Check-up Package">
                    <h4 class="service-name" style="color: #1063BF;">GENERAL HEALTH CHECK-UP PACKAGE</h4>
                </div>
            </div>
        </div>

        <div class="specialty-section">
            <h4 class="section-title">SPECIALTY</h4>
            <ul class="specialty-list">
                <li class="specialty-item">
                    <div class="specialty-icon">
                        <img src="/public/images/icon/icons8-dog-bone-35.png" alt="Rheumatology">
                    </div>
                    <div class="specialty-info">
                        <h3 class="specialty-name">RHEUMATOLOGY</h3>
                        <a href="#" class="view-detail">View detail</a>
                    </div>
                </li>
                <li class="specialty-item">
                    <div class="specialty-icon">
                        <img src="/public/images/icon/icons8-blood-sample-35.png" alt="Hematology - Blood Transfusion">
                    </div>
                    <div class="specialty-info">
                        <h3 class="specialty-name">HEMATOLOGY - BLOOD TRANSFUSION</h3>
                        <a href="#" class="view-detail">View detail</a>
                    </div>
                </li>
                <li class="specialty-item">
                    <div class="specialty-icon">
                        <img src="/public/images/icon/icons8-pregnant-35.png" alt="Pediatric">
                    </div>
                    <div class="specialty-info">
                        <h3 class="specialty-name">PEDIATRIC</h3>
                        <a href="#" class="view-detail">View detail</a>
                    </div>
                </li>
                <li class="specialty-item">
                    <div class="specialty-icon">
                        <img src="/public/images/icon/icons8-medical-heart-35.png" alt="Cardiology">
                    </div>
                    <div class="specialty-info">
                        <h3 class="specialty-name">CARDIOLOGY</h3>
                        <a href="#" class="view-detail">View detail</a>
                    </div>
                </li>
                <li class="specialty-item">
                    <div class="specialty-icon">
                        <img src="/public/images/icon/icons8-neuron-32.png" alt="NEUROLOGY">
                    </div>
                    <div class="specialty-info">
                        <h3 class="specialty-name">NEUROLOGY</h3>
                        <a href="#" class="view-detail">View detail</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="doctor-team-container">
        <div class="doctors-team-section">
            <div class="doctor-title-container">
                <h2 class="section-doctor-title">Our Dedicated Doctors Team</h2>
            </div>
            <div class="doctors-list">
                <div class="doctor-card">
                    <div class="doctor-image">
                        <img src="/public/images/background/doctorNeuron.jpg" alt="Dr. Maran">
                    </div>
                    <h3 class="doctor-name">Dr. Maran</h3>
                    <p class="doctor-specialty">Cardiologist</p>
                    <button class="view-profile-button">View Profile</button>
                </div>
                <div class="doctor-card">
                    <div class="doctor-image">
                        <img src="/public/images/background/doctorPediatrician.jpg" alt="Dr. Suganthi">
                    </div>
                    <h3 class="doctor-name">Dr. Suganthi</h3>
                    <p class="doctor-specialty">Pediatrician</p>
                    <button class="view-profile-button">View Profile</button>
                </div>
                <div class="doctor-card">
                    <div class="doctor-image">
                        <img src="/public/images/background/doctorPediatrician.jpg" alt="Dr. JohnDurai">
                    </div>
                    <h3 class="doctor-name">Dr. JohnDurai</h3>
                    <p class="doctor-specialty">Psychiatrist</p>
                    <button class="view-profile-button">View Profile</button>
                </div>
                <div class="doctor-card">
                    <div class="doctor-image">
                        <img src="/public/images/background/doctorNeuron.jpg" alt="Dr. JohnDurai">
                    </div>
                    <h3 class="doctor-name">Dr. JohnDurai</h3>
                    <p class="doctor-specialty">Psychiatrist</p>
                    <button class="view-profile-button">View Profile</button>
                </div>
            </div>
            <div class="slider-controls">
                <button class="prev-button">
                    <img src="/public/images/icon/icon_back.png" alt="">
                </button>
                <button class="next-button">
                    <img src="/public/images/icon/icon_forward.png" alt="">
                </button>
            </div>
        </div>
    </div>
</div>
