{{#section 'css'}}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
    integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
{{!-- swiperjs --}}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/public/css/signup.css">
{{/section}}
<div class="register-container">
    <div class="modal-header">
        <h2>CREATE AN</h2>
        <h1>Account</h1>
    </div>
    <div class="signup-modal-container">
        <div class="signup-modal">
            <div class="modal-footer">
                <p>Already have an account? <a href="/account/login">Sign in</a></p>
            </div>
            <form action="/account/signup" id="frmSignUp" method="POST" >
                <div class="modal-body">
                    <div class="input-group">
                        <input type="text" name="name" id="txtName" placeholder="Your Name">
                    </div>
                    <div class="input-group">
                        <input  type="text" name="phone" id="txtPhone" placeholder="Your Phone Number">
                    </div>
                    <div class="input-group">
                        <div class="birthday-input">
                            <input type="text" name="birthday" id="dtBirthday" placeholder="dd/mm/yy" >
                            <img src="/public/images/icon/icons8-calendar-32.png" alt="" width="20px"  id="calendar-icon">
                        </div>
                    </div>
                    <div class="input-group">
                        <input type="text" name="email" id="txtEmail" placeholder="Your Email">
                    </div>
                    <div class="input-group">
                        <div class="select-wrapper">
                            <select id="gender" name="gender">
                                <option value="" disabled selected>Gender</option>
                                <option value="male">Male</option>
                                <option value="female">Female</option>
                                <option value="other">Other</option>
                            </select>
                            <img src="/public/images/icon/icons8-arrow-down-24 (3).png" alt="">
                        </div>
                    </div>
                    <div class="input-group">
                        <input type="text" name="address" id="txtAddress" placeholder="Your Address">
                    </div>
                    <div class="input-group password-group">
                        <div class="password-input">
                            <input type="password" id="txtPassword" name="password" placeholder="Enter new password">
                            <img src="/public/images/icon/icons8-eye-30.png" alt="" id="toggle-password">
                        </div>
                    </div>
                    <div class="input-group password-group">
                        <div class="password-input">
                            <input type="password" id="txtPasswordConfirm" name="re_type_password" placeholder="Re-type new password">
                            <img src="/public/images/icon/icons8-eye-30.png" alt="" id="toggle-repassword">
                        </div>
                    </div>
                </div>
                <div class="button-group">
                    <button class="back-button">Back</button>
                    <button class="create-button" type="submit">Create</button>
                </div>
            </form>
        </div>
    </div>
</div>
{{#section 'js'}}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
{{!-- <script src="https://www.google.com/recaptcha/api.js?render=6LcynaMqAAAAAAPYVUVSXJSUNkNj7ggkTVWJIxlj"></script> --}}
<!-- Đảm bảo jQuery được nhúng trước đoạn script -->

<script>
  function isValidEmail(email) {
    const regex = /^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/;
    return regex.test(email);}
    const email = $('#txtEmail').val();
    const form = document.getElementById('frmSignUp');
    $.getJSON('/account/is-available-email?email=' + email, function (data) {
        if (!data) {
            alert('Email has been used by someone else. Please try another valid email');
        } 
        else {    
            form.addEventListener('submit', function (event) {
                event.preventDefault();
                const name = $('#txtName').val();
                const phone = $('#txtPhone').val();
                const birthday = $('#dtBirthday').val();
                const gender = $('#gender').val();
                const email = $('#txtEmail').val();
                const address = $('#txtAddress').val();
                const password = $('#txtPassword').val();          
                const passwordConfirm = $('#txtPasswordConfirm').val(); 
                console.log(email);

                if (password !== passwordConfirm) {
                    alert('Password and password confirmation do not match.');
                    return;
                }

                if (!isValidEmail(email)) {
                    alert('Invalid email. Please try again!');
                    return;
                }
                form.submit();
            });   
        }
    });
</script>
<script>
    $(function () {
    // Kích hoạt datepicker
    $("#dtBirthday").datepicker({
      dateFormat: "dd/mm/yy",
      changeMonth: true,
      changeYear: true,
      yearRange: "1900:2025",
    });

    // Khi nhấn icon -> mở datepicker
    $("#calendar-icon").click(function () {
      $("#dtBirthday").datepicker("show");
    });
  });
</script>
<script>
    document.getElementById('toggle-password').addEventListener('click', function () {
        const passwordInput = document.getElementById('txtPassword');
        const icon = this;

        // Toggle giữa text/password
        const isHidden = passwordInput.type === 'password';
        passwordInput.type = isHidden ? 'text' : 'password';

        // Đổi icon
        icon.src = isHidden 
        ? '/public/images/icon/icon_hide.png'   // icon mắt có gạch
        : '/public/images/icon/icons8-eye-30.png'; // icon mắt thường
        alert('Hello');
    });
    document.getElementById('toggle-repassword').addEventListener('click', function () {
        const passwordInput = document.getElementById('txtPasswordConfirm');
        const icon = this;

        const isHidden = passwordInput.type === 'password';
        passwordInput.type = isHidden ? 'text' : 'password';

        icon.src = isHidden 
            ? '/public/images/icon/icon_hide.png' 
            : '/public/images/icon/icons8-eye-30.png';
    });
    $(".back-button").click(function() {
            window.location.href = '/';
        });

</script>


{{/section}}