
/* Register */
.register-container{
    font-family: sans-serif;
    display: flex;
    flex-direction: column; 
    min-height: 100vh;
    background-color: #FBFBFB; /* Light blue background */
    margin-bottom: 30px;
}
.signup-modal-container{
    flex-grow: 1; /* Cho phép container form chiếm không gian còn lại */
    display: flex;
    justify-content: center; /* Căn giữa form theo chiều ngang */
    align-items: center;
    background-color: #FBFBFB;

}
.signup-modal {
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    padding: 10px 30px;
    width: 750px; 

    /* Adjust width as needed */

}

.modal-header {
    display: flex; /* Use flexbox to control alignment */
    flex-direction: column; /* Stack the headings vertically */
    margin-bottom: 0;
    position: relative;
    border: none;
    margin-left: 20px;
}

.modal-header h2 {
    color: #002B9A; /* Blue heading */
    font-size: 1.5em;
    margin: 0;
}

.modal-header h1 {
    color: #002B9A; /* Blue heading */
    font-size: 40px;
    margin-top: -10px;
    /* margin: 0 0 0 5px; */
    font-weight: 600;
}
.modal-footer{
    border: none;
    font-weight: 500;
    font-size: 18px;
    margin-right: 15px;
}

.close-button {
    color: #90caf9; /* Light blue close button */
    font-size: 1.8em;
    cursor: pointer;
    border: none;
    background: none;
    padding: 0;
}

.close-button:hover {
    color: #1e88e5;
}

.modal-body {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    padding-top: 0px;

}

.input-group {
    display: flex;
    position: relative;
    flex-direction: column;
    margin-top: 10px;
}


.input-group input[type="text"],
.input-group input[type="password"] {
    border: 1px solid #81BAEE; /* Light blue border */
    background-color: #F2F2F2;
    border-radius: 50px;
    padding: 15px;
    font-size: 16px;
    color: #333;
    
}

.input-group input::placeholder {
    color: #13467E; /* Light blue placeholder */
}

.birthday-input {
    position: relative;
    display: flex;
    align-items: center;
}
input{
    width: 300px;
    margin: 10px;
}
.input-group img{
    position: absolute;
    margin-right: 20px;
    right: 5px; /* Khoảng cách từ mép phải của .birthday-input */
    top: 50%;
    transform: translateY(-50%); /* Căn giữa dọc hình ảnh */
    width: 20px; /* Kích thước hình ảnh */
    height: auto;
    pointer-events: none; 

}
.birthday-input input {
    padding-right: 30px; /* Space for the icon */

}
.select-wrapper {
    position: relative;
    background-color: #F2F2F2;
    border: 1px solid #81BAEE; /* Light blue border */
    border-radius: 50px;
    overflow: hidden;
    width: 300px;
    margin: 10px;
}

.select-wrapper select {
    width: 100%;
    padding: 15px;
    background-color: #F2F2F2;
    border-radius: 50px;
    border: 1px solid #8baac7; /* Light blue border */
    color: #13467E;
    border: none;
    appearance: none;
    /* cursor: pointer; */
}
.password-group {
    position: relative;
}

.password-input {
    position: relative;
    display: flex;
    align-items: center;
}

.password-input input {
    padding-right: 30px; /* Space for the eye icon */
}
.button-group{
    display: flex;
    gap: 30px; /* Khoảng cách giữa hai nút */
    justify-content: center;
}
.back-button{
    background-color: white; /* Blue button */
    color: #13467E;
    border: 2px solid #13467E;
    border-radius: 6px;
    padding: 12px 0px;
    font-size: 1.1em;
    cursor: pointer;
    margin: 30px 0px;
    width: 200px;
    /* display: flex;
    justify-content: center;
    align-items: center; */

}
.create-button {
    background-color: #13467E; /* Blue button */
    color: white;
    border: 2px solid #13467E;
    border-radius: 6px;
    padding: 12px 0px;
    font-size: 1.1em;
    cursor: pointer;
    margin: 30px 0px;
    width: 200px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}
.button-group button:hover{
    background-color: #4AABF2;
}
#passwordHint, #retypeHint {
    display: none;
}
.password-notion{
    font-size: 12px;
    margin-left: 10px;
}
.password-notion.invalid {
  color: red;
}

.password-notion.valid {
  color: green;
}
#showError{
    margin-top: 10px;
}