<div class="profile-container">
    <div class="sidebar">
        <div class="sidebar-item-container"> 
            <button class="sidebar-item ">
                <img src="/public/images/icon/icons8-user-32 (1).png" alt="">
                <span>Profile</span>
            </button>
            <button class="sidebar-item">
                <img src="/public/images/icon/icons8-password-32 (1).png" alt="">
                <span>Password</span>
            </button>
            <button class="sidebar-item">
                <img src="/public/images/icon/icons8-exam-32.png" alt="">
                <span>History Exam</span>
            </button>
            <button class="sidebar-item logout">
                <img src="/public/images/icon/icons8-logout-32.png" alt="">
                <span>Log out</span>
            </button>
        </div>
    </div>
    <div class="main-content-container">
        <div class="user-info-header ">
            <div class="avatar">
                <img src="placeholder-avatar.png" alt=" ">
            </div>
            <div class="user-details mt-2">
                <h5 class="username">Lavender Blue 
                    <img src="/public/images/icon/icons8-edit-32.png" alt="">
                </h5>
                <p class="email">lthuong10112003@gmail.com</p>
            </div>
        </div>
        <div class="appointment-status-container">
            <button class="appointment-status-button">
                <img src="/public/images/icon/icons8-coming-soon-24.png" alt="" width="30px">
                Coming</button>
            <button class="appointment-status-button">
                <img src="/public/images/icon/icons8-complete-32.png" alt="" width="30px">
                Completed</button>
            <button class="appointment-status-button">
                <img src="/public/images/icon/icons8-atm-cancel-32.png" alt="" width="30px">
                Cancelled</button>
            <button class="appointment-filter-button">
                <img src="/public/images/icon/icons8-filter-32.png" alt=""width="30px">
            </button>
        </div>
        <main class="main-content">
            <div class="appointment-card">
                <div class="header">
                    <div class="booked-time">Booked Time: 09/10/2025</div>
                    <div class="status">Coming soon</div>
                </div>
                <div class="patient-info">
                    <div>
                        <img src="/public/images/icon/icons8-user-blue.png" alt="">
                        <span>Le Thi Thu Huong</span>
                    </div>
                    <div class="time-value-container">
                        <img src="/public/images/icon/icons8-clock-32 (1).png" alt="">
                        <span class="time-value">100/11/03</span>
                    </div>
                </div>
                <div class="doctor-info">
                    <img src="/public/images/icon/icons8-doctor-32.png" alt="">
                    <span>Hayashi Kyosuke</span>
                </div>
                <div class="specialty-info">
                    <img src="/public/images/icon/icons8-stethoscope-yellow.png" alt="">
                    <span style="color: #E8B716;">Obstetrics and Gynecology</span>
                </div>

                <div class="fee-info">
                    <div>
                        <img src="/public/images/icon/icons8-payment-32 (1) copy.png" alt="">
                        <span style="color: #16A90F;">1.200.000 VND</span>
                    </div>
                    <div class="buttons">
                        <button class="view-detail-button">View Detail</button>
                        <button class="cancel-button">Cancel</button>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
