<div class="profile-container">
    <aside class="sidebar">
        <div class="sidebar-item-container"> 
            <button class="sidebar-item ">
                <img src="/public/images/icon/icons8-user-32 (1).png" alt="">
                <span>Profile</span>
            </button>
            <button class="sidebar-item">
                <img src="/public/images/icon/icons8-password-32 (1).png" alt="">
                <span>Password</span>
            </button>
            <button class="sidebar-item">
                <img src="/public/images/icon/icons8-exam-32.png" alt="">
                <span>History Exam</span>
            </button>
            <button class="sidebar-item logout">
                <img src="/public/images/icon/icons8-logout-32.png" alt="">
                <span>Log out</span>
            </button>
        </div>
    </aside>
    <div class="main-content-container">
        <div class="user-info-header ">
            <div class="avatar">
                <img src="placeholder-avatar.png" alt=" ">
            </div>
            <div class="user-details mt-2">
                <h5 class="username">Lavender Blue 
                    <img src="/public/images/icon/icons8-edit-32.png" alt="">
                </h5>
                <p class="email">lthuong10112003@gmail.com</p>
            </div>
        </div>
        <main class="main-content">
            <div class="form-group">
                <div class="input-group password-group">
                    <div class="password-input">
                        <input type="password" id="current-password" placeholder="Enter current password">
                        <img src="/public/images/icon/icons8-eye-30.png" alt="">
                    </div>
                </div>
                <div class="input-group password-group">
                    <div class="password-input">
                        <input type="password" id="new-password" placeholder="Enter new password">
                        <img src="/public/images/icon/icons8-eye-30.png" alt="">
                    </div>
                </div>
                <p class="password-notion">Create a new password that is at least 6 characters long. A strong password is a combination of letters, numbers, and punctuation.</p>
                <div class="input-group password-group">
                    <div class="password-input">
                        <input type="password" id="re-type-password" placeholder="Re-type new password">
                        <img src="/public/images/icon/icons8-eye-30.png" alt="">
                    </div>
                </div>
                <p  class="password-notion">Your retype password must be the same as the password you just created</p>
            </div>
            <div class="update-button-container">
                <button class="update-button">Update</button>
            </div>
        </main>
    </div>
</div>
