<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    {{!-- swiperjs --}}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <link rel="stylesheet" href="/public/css/patient-side/emailVerify.css">
</head>
<body>
    <div class="verify-email-container">
        <div class="modal-header">
            <h2>EMAIL</h2>
            <h1>Verifying</h1>
        </div>
        <div class="verify-email-modal-container">
            <div class="verify-email-modal">
                <p>Please check your email for a text message with your code. Your code is 6 numbers in length. </p>
                <div class="modal-body-container">
                    <div class="modal-body">
                        <div class="input-group password-group">
                            <div class="email-input">
                                <input type="text" id="email" placeholder="Enter code">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="button-group">
                    <button class="back-button">Back</button>
                    <button class="continue-button">Continue</button>
                </div>
            </div>

        </div>
    </div>
</body>
</html>